html,body{
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #51074b;

}

.title-container {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 10%;
    color: #fff;
    font-size: 2em;
}

.wave-canvas{
    width: 100%;
    height: 100%;
}

.canvas-container {
    pointer-events: none;
    position: absolute;
    top: 25%;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.result-div {
    color: #fff;
}

.btn-container {
    position: absolute;
    top: 50%;
    width: 20%;
    left: 40%;
}
.start-record-btn {
    text-align: left;
    position: absolute;
    left:0;
}
.stop-record-btn {
    text-align: right;
    position: absolute;
    right:0;
}
.result-div {
    position: absolute;
    text-align: center;
    left: 40%;
    width: 20%;
    top:30%;
    font-size: 1.5em;
}
.stop-btn-container {
    position: absolute;
    right : 0;
    display: inline-block;
}